@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes moveDot {
  0% {
    transform: translateX(-40px);
  }
  50% {
    transform: translateX(40px);
  }
  100% {
    transform: translateX(-40px);
  }
}

.animate-moving-dot {
  animation: moveDot 2s ease-in-out infinite;
}
